{% extends "./base.html" %}

{% block title %} Gestión de Alumnos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Registro de Alumno</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarAlumno/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="codigo">Código:</label>
                        <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                            maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input type="number" id="edad" name="edad" class="form-control" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion" class="form-control" maxlength="200" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" class="form-control" pattern="[0-9]{9,10}" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Alumnos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{alumno.codigo}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.edad}}</td>
                        <td>{{alumno.direccion}}</td>
                        <td>{{alumno.telefono}}</td>
                        <td><a href="edicionAlumno/{{alumno.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarAlumno/{{alumno.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
